<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>BookLib</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui-1.10.3.custom.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-1.10.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui-1.10.3.custom.min.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <div class="all">
    <div class="header">
      <div class="logout">
        <a href="/logout">{{user.username}}</a>
        <a href="/books" class="sbtn"><img src="{{ url_for('static', filename='book.png') }}"/></a>
        <a href="/authors" class="sbtn"><img src="{{ url_for('static', filename='user.png') }}"/></a>
      </div>
      <div class="search">
        <form>
          <input type="text" placeholder="Search" id="in_search">
          <button type="submit" id="search_button">
            <img  src="{{ url_for('static', filename='search.png') }}" />
          </button>
        </form>
      </div>
    </div>
      {% block content %}
      {% endblock %}
  </div>
   <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>